    /*Controla a configuração de todo o site */
    *{ 
        margin: 0; /* Colocar ou tirar margem*/
        padding: 0; /*Um espaçamento entre o conteúdo e a margem*/
        font-family: 'Times New Roman', Times, serif; /* Mudar a fonte das letras*/
    }

    /* Formatando o cabeçalho (header)*/
    .cabecalho{
        background-color: black; /* Mudar cor de fundo*/
        display: flex; /* Para meus itens ficarem lado á lado*/
        justify-content: space-evenly; /* Para justificar os itens */
        align-items: center; /* Ele alinha em sentido da vertical*/
        padding: 30px; /*Um espaçamento entre o conteúdo e a margem*/
        flex-wrap: wrap;  /* Aqui informamos que os itens podem "quebrar" para se adptar em telas menores*/
    }

    .cabecalho i{
        color: white;  /* Mudar cor do ícone*/
        font-size: 80px; /* Aumentar o tamanha do ícone*/
    }

    .menu{
        display: flex; /* Para meus itens ficarem lado á lado*/
    }

    .menu li{
        margin-left: 10px; /* Dando espaço entre o lado esquerdo dos textos */
        list-style: none; /*Para retirar os sinais da lista*/
    }

    .menu li :hover{
        transition: 0.8s; /*Para transformar a cor do botão*/
        cursor: pointer; /*Altera o cursor do mouse para pointer */
        background-color: #f69a0b; /* Mudar cor de fundo*/
        color: white; /*Mudar cor da fonte*/
        border-radius: 10px;  /* aredondando a borda*/
     }

     .menu li a {
        text-decoration: none; /*Tirando a decoração de texto (sublinhado)*/
        padding: 15px; /*Um espaçamento entre o conteúdo e a margem*/
        color: white; /*Mudar cor da fonte*/
        font-size: 20px; /* Aumentar o tamanha do ícone*/
     }

     h1{
        text-align: center; /* Alinhar o texto*/
        color: white; /*Mudar cor da fonte*/
        margin-top: 10px; /* Margem superior*/
     }

    h2{
      text-align: center; /* Alinhar o texto*/
      padding: 50px; /*Um espaçamento entre o conteúdo e a margem*/
      font-size: 30px; /* Aumentar o tamanha do ícone*/
      background-color: rgba(128, 128, 128, 0.26); /* Mudar cor de fundo*/
    }

    .secao-1{
        display: flex; /* Para meus itens ficarem lado á lado*/
        flex-wrap: wrap;  /* Aqui informamos que os itens podem "quebrar" para se adptar em telas menores*/
        max-width: 800px;  /*Adaptação máxima dos conteúdos que estão dentro da div*/
        margin: 0 auto; /* Colocar ou tirar margem*/
        margin-bottom: 80px;  /*Ela dá um espaçamento da margem inferior*/
        text-align: center; /* Alinhar o texto*/
    }

    .secao-1 img{
       width: 300px;
       height: 300px;
       max-width: 240px;  /*Adaptação máxima dos conteúdos que estão dentro da div*/
       display: block; /* Reforçando que as divs permanecem em blocos*/
    }

    .secao-1 div{
        margin: 10px; /* Colocar ou tirar margem*/
        flex: 1 1 200px;
    }

    .secao-2{
        background-color: #fdbf5c; /* Mudar cor de fundo*/
        justify-content: center; /* Para justificar os itens */
        padding: 100px; /*Um espaçamento entre o conteúdo e a margem*/
        font-size: 19px; /* Aumentar o tamanha do ícone*/
    }

    .secao-3{
        background-color: #fdbf5c; /* Mudar cor de fundo*/
        justify-content: center; /* Para justificar os itens */
        padding: 100px; /*Um espaçamento entre o conteúdo e a margem*/
        font-size: 19px; /* Aumentar o tamanha do ícone*/

    }

    .rodapé{
        background-color: black; /* Mudar cor de fundo*/
        color: white; /*Mudar cor da fonte*/
        display: flex; /* Para meus itens ficarem lado á lado*/
        justify-content: space-evenly; /* Para justificar os itens */
        align-items: center; /* Ele alinha em sentido da vertical*/
        padding: 90px; /*Um espaçamento entre o conteúdo e a margem*/
        flex-wrap: wrap;  /* Aqui informamos que os itens podem "quebrar" para se adptar em telas menores*/
    }

    .lista{
        display: flex; /* Para meus itens ficarem lado á lado*/
    }

    .lista li{
        margin-right: 20px;
        list-style: none; /*Para retirar os sinais da lista*/
    }

    .lista li a{
        text-decoration: none; /*Tirando a decoração de texto (sublinhado)*/
        color: white; /*Mudar cor da fonte*/
        font-size: 25px; /* Aumentar o tamanha do ícone*/
        padding: 20px; /*Um espaçamento entre o conteúdo e a margem*/
    }

    .lista li a:hover{
        transition: 0.8s; /*Para transformar a cor do botão*/
        color: #9b0800; /*Mudar cor da fonte*/
    }

    .rodapé i{
        color: white;  /* Mudar cor do ícone*/
        background-color: #d43a00; /* Mudar cor de fundo*/
        font-size: 30px; /* Aumentar o tamanha do ícone*/
        padding: 10px; /*Um espaçamento entre o conteúdo e a margem*/
        margin-left: 10px; /* Dando espaço entre o lado esquerdo dos textos */
        border-radius: 10px;  /* aredondando a borda*/
    }




     



    